<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <!--<add key="DB_HOST" value="SQL5020.Smarterasp.net"/>
    <add key="DB_PORT" value="1433"/>
    <add key="DB_NAME" value="DB_9EF1B4_pos"/>
    <add key="DB_USER" value="DB_9EF1B4_pos_admin "/>
    <add key="DB_PASS" value="11111111"/>-->

    <add key="DB_HOST" value="192.168.255.62"/>
    <add key="DB_PORT" value="1433"/>
    <add key="DB_NAME" value="DEVVendroid"/>
    <add key="DB_USER" value="vendroid"/>
    <add key="DB_PASS" value="vend2016"/>
  </appSettings>
</configuration>